.DS_Store
node_modules
/dist
/.vite
/.cache
/.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
turbo.json
*.local

# IDE / Editor
.idea/
.vscode/
*.iml
.fleet/
.history/

# Tests / Coverage
coverage/
.nyc_output/

# Misc
temp/
tmp/
*.swp
*.swo

